.button {
    -fx-background-color: white;
    -fx-border-color: #202020;
    -fx-border-width: 7;
    -fx-border-radius: 10;
    -fx-border-insets: -2;
    -fx-background-radius: 15;
    -fx-pref-width: 120;
}

.button:pressed {
    -fx-background-color: #202020;
    -fx-border-color: white;
    -fx-text-fill: white;
}

.fileButton {
    -fx-border-width: 4;
}


.key {
    -fx-background-color: none;
    -fx-border-color: #E1F5FE;
    -fx-border-width: 4
 ;
}

.keyText {
    -fx-text-fill: #E1F5FE;
}